build/
dist/
packaging/
vcpkg_installed/
*.o
*.AppImage
linuxdeploy-*.sh
*.mo
vcpkg_overlays/

local/
tset-sample/

.vs/

*.local.test.cc
*.local.cpp
*.local.hpp
*.local.h

.vscode/launch.json

/Packaging/
/Parakeet/

*.build_time.h
*.log
out/
